.corpo{
  background-color: black;
    background-image: url("images/pe-bg.png");
    background-repeat: repeat;
  background-attachment: fixed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



body {
  background-color: black;
}
.logo {
  margin-left: 17%;
  width: 65%;
  height: auto;
}

.logo2 {
  width: 65%;
  height: auto;
}

.divt {
  position: fixed;
  width: 80%;
}

.trip {
  width: 100%;
  margin-left: 12%;
  margin-right: auto;

}

@media only screen and (max-width: 1350px) {
  .logo {
    width: 390px;
    margin-left: 0;
  }
  .logo2 {
    width: 390px;
    margin-left: 0;
  }
  .divt {
    position: fixed;
    width: 100%;
  }

  .trip {
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

}


/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav .lin {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav .lin:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav .lin {
    font-size: 18px;
  }
}

.card {
  display: inline-block;
  width: 300px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-image:url(images/slime.jpg);
  color: white;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.card button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.card button:hover {
  background-color: #3e8e41;
}


.regEntr {
  min-height: 350px;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: white;
}

.sfondo {
  background-color: aliceblue;
}

.login {
  max-width: 300px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.titolo {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.riga {
  background-color: black;
}

.signin {
  max-width: 400px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.registra {
  min-height: 450px;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: white;
}

.carta {
  height: 130px;
  width: 130px;
}
.nrv {
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 25px;
}

.nol {
  display: flex;
  justify-content: center;
}

table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 800px;
}
tbody {
  border-radius: 10px;
}
th,
td {
  height: 20px;
  width: 70px;
}

footer {
  background-color: black;
  padding-top: 50px;
}

.footer-top {
  background-color: black;
  
}

.footer-top h3 {
  color: #4CAF50;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top ul li {
  margin-bottom: 10px;
}

.footer-top ul li a {
  color: #4CAF50;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #4CAF50;
  font-size: 20px;
}

.social-icons li a:hover {
  color: #4CAF50;
}

.footer-bottom {
  background-color: black;
  color: #4CAF50;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #4CAF50;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #3e8e41;
}

a {
  text-decoration: none;
  color: inherit;
}
.shop{
  width: 80%;
}

.soca {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}